@using ProjControleEstoque.Models.Data
@{
    var User = ViewData["nome"] as string;
    var fieldError = ViewData["error"] as FieldError;

    ViewData["Title"] = "User";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>


    <div class="container align-center">

      <h1> Formulario de Crição de Usuário </h1>
      <form enctype="multipart/form-data" asp-action="PostRet" asp-controller="User" method="Post">
          <div class="mb-3">
            <label for="nomeUsuario" class="form-label">Nome Completo </label>
            <input  type="name" name="Nome" class="form-control" id="nomeUsuario" aria-describedby="ajudaNome" required>
            <div id="ajudaNome" class="form-text">Por Favor Digite seu nome Completo.</div>
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input name="Hash" type="password" class="form-control" id="senha" aria-describedby="ajudaSenha" required>
            <div id="ajudaSenha" class="form-text">Por favor digite a senha desejada.</div>
          </div>

          <div class="mb-3">
            <label for="confirmaSenha" class="form-label">Comfirme sua Senha </label>
            <input type="password" class="form-control" id="confirmaSenha" required>
          </div>

          <div class="mb-3">
               
            <label for="email" class="form-label">E-mail</label>
            <input  name="Email" type="email" class="form-control" id="email" aria-describedby="ajudaEmail" required>
             @if (fieldError != null && fieldError.field=="Email")
                {
                    <p style="color: red">@fieldError.message </p>
                }
            <div id="ajudaEmail" class="form-text">Por favor Entre com um e-mail valido.</div>
          </div>

          <div class="mb-3"> <strong>Administrador.</strong> 
              <div class="form-check">
                <input value="administrador" type="radio" class="form-check-input" id="validationAdmin1" name="Funcao" required>
                <label class="form-check-label" for="validationAdmin1"> Sim </label>
              </div>
              <div class="form-check mb-3">
                <input value="usuario" type="radio" class="form-check-input" id="validationAdmin2" name="Funcao" required>
                <label class="form-check-label" for="validationAdmin2"> Não </label>
              </div>
          </div>
          
          <button type="submit" class="btn btn-primary btn-lg" id="btnCadastrar">Cadastrar</button>
          <button type="button" class="btn btn-primary btn-lg" id="checkEmail"  >Checar Email</button>


        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
          let validarSenha = document.getElementById("confirmaSenha")
          let senha = document.getElementById("senha")
          
          validarSenha.addEventListener("focusout",() => {
              if (senha.value != validarSenha.value )
            {
              alert("A validação da Senha está Incorreto, Entre com a senha Novamente!!!")
              validarSenha.value = "";           
            }
          })
        })
    </script>


    <script>
      document.addEventListener("DOMContentLoaded",  () => { 
        let validarEmailBtn = document.getElementById("checkEmail")
        validarEmailBtn.addEventListener("click", function () {
          let email = document.getElementById("email")
          let ajax_checkEmail = fetch("User/ValidaEmail", {method:"Post", body: JSON.stringify({ Email: email.value }), headers: {
                "Content-Type": "application/json; charset=utf-8"
          }})
          ajax_checkEmail.then((response) => response.json())
          ajax_checkEmail.then((response) => {
            if(response.values.status != 200){
              alert(response.values.message)
            }else {alert("Email Valido.")}
          })
        } )
      } )
    </script>
</body>
</html>