@{
    var products = ViewData["products"] as Product[];
    var has_inventory = ViewData["has_inventory"] as bool?;
    var user = ViewData["user"] as User;

    ViewData["Title"] = "Home";
}

<style>

    .qnt-component
    {
        list-style: none;
        padding: 1em;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="text-center">
    <h1 class="display-4">Controle de Estoque</h1>
    <br />
    <h3>Bem vindo, @user?.Nome!</h3>
    <hr />
    @if (has_inventory != null && has_inventory == true)
    {
        <div class="d-flex justify-content-center align-items-center p-2" style="background-color: #eded00; border-radius: 0.3rem; box-shadow: 0 0 1rem #aaa; margin-top: 6rem; margin-bottom: 2rem">
            <h3>Esta agendado para hoje a execução de um Inventário do estoque!</h3>
        </div>
    }

    <p class="fs-1 fw-bolder">
        Notificações
    </p>
    
    <hr/>

    <ul>
        @if (products != null)
        {
            @foreach (Product product in products)
            {
                if (product.Quantidade <= 4)
                {
                    <li class="qnt-component list-group-item-danger list-group-horizontal-lg">O produto <strong>@product.Nome</strong> está em baixa quantidade!</li>
                }
                if (product.Validade.Value.Month == DateTime.Now.Month)
                {
                    <li class=" qnt-component list-group-item-warning list-group-horizontal-lg">O produto <strong>@product.Nome</strong> está próximo de vencer!</li>
                }
            }
        }
    </ul>
    
</div>
