@{
    var product = ViewData["product"] as Product;

    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Teste</h1>
    <br />
    <h3>Banco de dados(v0.1.2)</h3>
    <hr />
    @if (product != null)
    {
        <p>@product.Nome</p>
        <p>@product.Descricao</p>
    }
</div>