@model ProjControleEstoque.Models.User

@{
    ViewData["Title"] = "Login";
}

 <h2> @ViewBag.message </h2>
 <div class="container p-2" style="height: 300px; width: 400px;">
        <div class="card card-container p-4">
            <img id="profile-img"  class="profile-img-card mb-3" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
           
            <form asp-action="Login" class="form-signin b-4">
                <span id="reauth-email" class="reauth-email"></span>
                <input asp-for="Nome" type="text" id="nome" class="form-control mb-2" placeholder="Nome" required autofocus>
                <input asp-for="Hash" type="password" id="senha" class="form-control mb-2" placeholder="Senha" required>
                
                <div id="remember" class="checkbox m-2">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembre-se de mim                     
                    </label>
                </div>
            
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
                <a asp-controller="Home" asp-action="Index">
                    <button  class="btn btn-lg btn-primary btn-block btn-signin" type="button"> Voltar</button>
                </a>
                <div>
                    <a  href="#" class="forgot-password">
                            Esqueceu a senha?
                    </a>
                </div>

            </form><!-- /form -->          
        </div><!-- /card-container -->
    </div><!-- /container -->
