* 
{
    box-sizing: border-box;
}
body {
    padding: 100px;
}

table {
    background-color: rgb(180, 180, 180);
}

table {
    background-color: rgb(200, 200, 200);
}

th
{
    background-color: white;
}

#create-btn
{
    float: right;
    position: relative;
    bottom: 1em;
}

#submit-btn, #back-btn {
    position: relative;
    top: 1em;
}

#submit-btn {
    position: relative;
}

#back-btn {
    position: relative;
    left: 2em;
}